.card-text {
    color: rgb(90, 89, 89);
  }
  .card img:hover {
    transform: scale(0.9);
  }
  .card-price {
    font-weight: bold;
  }
  .card-middle{
    max-height: min-content;
  }


  .card{
    box-shadow:"20px 5px 15px rgba(0, 0, 0, 0.3) "
  }
  